<!-- meta -->
<%include('../public/_meta.html')%>
<!-- meta end -->

<!-- header -->
<%include('../public/_header.html')%>
<!-- header end -->

<!-- 中部开始 -->

<!-- menu -->
<%include('../public/_menu.html')%>
<!-- <div class="x-slide_left"></div> -->
<!-- memnu end -->

<!-- 右侧主体开始 -->
<div class="page-content">
  <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
    <ul class="layui-tab-title">
      <li class="home"><i class="layui-icon">&#xe68e;</i>我的桌面</li>
    </ul>
    <div class="layui-tab-content">
      <div class="layui-tab-item layui-show">
        <iframe src='/home/welcome' frameborder="0" scrolling="yes" class="x-iframe"></iframe>
      </div>
    </div>
  </div>
</div>
<div class="page-content-bg"></div>
<!-- 右侧主体结束 -->
<!-- 中部结束 -->

<!-- footer -->
<%include('../public/_footer.html')%>
<!-- footer end -->

<script>

</script>
</body>

</html>
